@font-face {
    font-family: 'Roboto, Bold';
    src: url(font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto, Italic';
    src: url(font/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto, Light';
    src: url(font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto, Semibold';
    src: url(font/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto, Regular';
    src: url(font/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    display: block;
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.alignfull {
    max-width: 1920px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(35, 145, 193, 1) 0%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 40px;
    align-items: center;
}

.test-0-nav-1,
.test-0-nav-2,
.test-0-nav-3,
.test-0-nav-4 {
    font-size: 20px;
    font-family: 'Roboto, Regular';
    color: black;
    transition: 0.2s ease-in-out;
}

.test-0-nav-1:hover {
    color: white;
}

.test-0-nav-2:hover {
    color: white;
}

.test-0-nav-3:hover {
    color: white;
}

.test-0-nav-4:hover {
    color: white;
}

#booking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    line-height: 4;
}

.title_booking {
    font-family: 'Roboto, Bold';
    font-size: 32px;
    color: black;
    text-align: center;
}

.info_booking {
    width: 50%;
    height: 85%;
    background-color: #CDE9F2;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.info_all{
    display: flex;
}
.button_booking {
    padding: 3%;
}

.test-6-select {
    width: 300px;
    height: 50px;
    background-color: #3095CA;
    border-radius: 24px;
    font-family: 'Roboto, Bold';
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    float: right;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

}

.test-6-select:hover {
    background-color: white;
    color: #000;
    border: 1px solid #00000057;
}

.number_price {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

.test-6-code {
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: black;
}

.test-6-tp {
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #3095CA;
    width: 100px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_flight{
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fly{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    line-height: 1.5;
}
.text_fly{
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: black;
    padding: 1%;
}
.text_info{
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: black;
    background-color: #FFFFFF;
    width: 250px;
    height: 25px;
    border: 1px solid #000000;
    display: flex;
    justify-content: start;
    align-items: start;
}
.info_passanger_main{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_passanger_glav{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title_name{
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: black;
    text-align: center;
}
.info_passanger{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}
.info_pass{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.5;
    width: 100%;
}
.test-6-name,
.test-6-last,
.test-6-dob,
.test-6-doc,
.text_name{
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: black;
    padding: 1%;
}
.info_name{
    font-family: 'Roboto, Regular';
    font-size: 16px;
    color: black;
    background-color: #FFFFFF;
    width: 100%;
    height: 25px;
    border: 1px solid #000000;
    display: flex;
    justify-content: start;
    align-items: start;
}
.info_go{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.in_out{
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-6-ts,
.test-6-bs{
    font-family: 'Roboto, Regular';
    font-size: 12px;
    color: black;
}
.info_into{
    font-family: 'Roboto, Regular';
    font-size: 14px;
    color: black;
    background-color: #FFFFFF;
    width: 70px;
    height: 25px;
    border: 1px solid #000000;
    display: flex;
    justify-content: start;
    align-items: start;
}
























#footer {
    background: linear-gradient(0deg, rgba(35, 145, 193, 1) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 400px;
}

.title_footer {
    font-family: 'Roboto, Bold';
    font-size: 24px;
    color: #000;
    text-align: center;
    padding: 5%;
}

.test-0-phone {
    font-family: 'Roboto, Bold';
    font-size: 32px;
    color: #000;
    text-align: center;
    padding: 1%;
}

#footer nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.menu {
    font-family: 'Roboto, Bold';
    font-size: 16px;
    color: #000;
    text-align: center;
    transition: 0.2s ease-in;
}

.menu:hover {
    color: white;
}

#footer .container {
    width: 60%;
    margin: 0 auto;
}